@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  footer{
    margin-top: 70px;
  }
  
  .main {
    background-image: url("https://www.cec-milano.us/repo_fabrics/168581_A.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-content {
    text-align: center;
    padding: 20px;
    background-color: rgba
  }


  .product-row {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }